/* Color Scheme: 
Red: #D2001A
Yellow: #FFDE00
Beige: #FFFAE7
Ovwhite: #EFEFEF */
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #efefef;
  margin: 3rem 5%;
  font-family: "Markazi Text", serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}
p {
  font-size: 1.5rem;
}
header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

nav ul {
  list-style: none;
  text-align: center;

  background-color: #ffde00;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  margin-top: 2rem;
}

nav li {
  display: inline-block;
  margin-left: 2rem;
}

nav a {
  text-decoration: none;
  color: #d2001a;
  font-size: 2rem;
}

nav a:hover {
  color: black;
}

.promotion {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 2rem;
  background-color: #fffae7;
  color: white;
  font-weight: 800;
}

.promotion img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.promotion div {
  position: absolute;
  bottom: 4rem;
  padding: 0 16rem;
  background-color: rgba(0, 0, 0, 0.8);
}

.promotion:hover {
  transform: scale(1.02);
  transition: 1s;
}

.promotion:hover > div {
  background-color: rgba(0, 0, 0, 0.4);
  transition: 1s;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.card {
  background-color: #fffae7;
  margin-left: 1rem;
  width: 30%;
  color: black;
  text-align: center;
  text-shadow: 2px 2px #efefef;
  border-radius: 5%;
  padding: 1rem;
  font-weight: 700;
}

.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 60vh;
  padding: 1rem 0;
}

.card:hover {
  box-shadow: 5px 0px 25px grey;
  cursor: pointer;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10rem;
  padding: 1rem 0;
}

footer div {
  width: 25%;
}

footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
